

mat-toolbar {

    margin-bottom: 20px;
    
    h1 {
        margin: auto;
    }
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
    padding: 0 30px;
    margin-top: 100px;
    height: 70vh;
    
}

.tittle {
    text-align: center;
}

