<form [formGroup]="form" (ngSubmit)="submit(form)">
        <h1 mat-dialog-title>Add Note</h1>
        <mat-dialog-content>
          <mat-form-field>
            <input matInput formControlName="filename" autocomplete="off" placeholder="Enter Note">
          </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
          <button mat-button type="submit">Add</button>
          <button mat-button type="button" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
      </form>