mat-form-field {
    display: block;
}

.mat-dialog-title {
    text-align: center;
    background-color: aquamarine;
    padding: 10px 0;
}

#title {
    display: block;
    width: 100%;
    border-bottom: none;
    min-height: 30px;
    
}

#note {
    display: block;
    width: 100%;
}

mat-form-field-underline {
    underline:none;
}