mat-form-field {
    display: block;
}


#tittle {
    
    width: 100%;
    display: block;
    padding: 10px;
}

#description {
    display: block;
    width: 100%;
    padding: 10px;
}
