#menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    height: 100vh;
    padding: 0 30px;

    .menu-item {
        // padding: 50px;
        // cursor: pointer;
        background-color: lightblue;

       
            a{
                padding: 50px;
                display: block;
                font-size: 2rem;
                color: black;
            }

            a:hover  {
                border: 2px red solid;
            }
        
    }

}