
  <mat-expansion-panel *ngFor ='let listItem of toDoList | toDoFilter: state; let i = index '>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h2>{{listItem.tittle}}</h2>
          <div>
            <button *ngIf = "listItem.state === 'added'" mat-raised-button (click) = 'moveToDone(listItem)'>Done</button>
            <button  mat-raised-button (click)='deleteToDo(listItem)'>Delete</button>
          </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{listItem.description}}</p>
  </mat-expansion-panel>
