// mat-expansion-panel {
//     margin-top: 10px;
//     justify-content: space-between;
// }


mat-panel-title {
    align-items: center;
    justify-content: space-between;
}

// mat-expansion-panel-header-tittle {
//     margin-top: 30px;
//     justify-content: space-between;
// }