mat-card {
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto 30px;
    grid-row-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    height: 70vh;
    margin-top: 50px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: space-between;

    mat-card-header {
        grid-area: header;
        display: flex;
        justify-content: center;

        h1 {
            margin: 0;
        }
            
    }

    mat-card-content {
        border: 2px solid rgba($color: #000000, $alpha: 0.3);
        background-color: #f7f7f7;
        border-radius: 5px;
        grid-area: main;
        position: relative;
        margin-bottom: 0;
        padding: 10px;
    }

    img {
        display: inline-block;
    }

    mat-card-footer {
        display: flex;
        align-items: center;
        grid-area: footer;
        text-align: left;
        background-color: aquamarine;
    
            #footerBtn {
                font-size: 1.5rem;
                background-color: black;
                color: white;
                height: 100%;
            }

        mat-icon {
            font-size: 2.5rem;
            margin: auto;
            height: 100%;
            width: 100%;
            margin-left: 10px;
            cursor: pointer;
        }

        #image_uploads {
            display: none;
        }
    }

    #notes {
        position: relative;
        display: inline-block;
        text-align: start;
        font-size: 3em;
        padding: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: aquamarine;
        cursor: pointer;
        border-radius: 10px;
        }
        

    mat-menu-panel {
        position: relative !important;
        left: 20px;
    }

    #clr {
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        left: 0;
        right: 0;
    }

    #canvas {
        display: none;
    }
    
}



